<div class="container">
  <div class="pull-right">
    <button type="button" class="btn btn-success btn-add-playlist" (click)="addPlaylist()">
      <fa name="plus" size="2x"></fa>
    </button>
  </div>
  <div class="jumbotron">
    <spotify-playlist-form *ngIf="playlistFormShow"></spotify-playlist-form>
    <spotify-playlist-delete *ngIf="confirmDelete"></spotify-playlist-delete>
    <h2>Minha Playlist</h2>
    <div *ngFor="let item of userPlaylist.items">
      <div class="row">
        <span class="icon-playlist">
          <fa name="music" size="2x"></fa>
        </span>
        <span>{{item.name}}</span>
        <span class="icon-delete">
          <a (click)="deletePlaylist(item.id)">
            <fa name="minus-circle"></fa>
          </a>
        </span>
      </div>
    </div>
  </div>
  <a [routerLink]="['/user']" class="btn btn-success">
    Voltar
  </a>
</div>